.contato-form {
  background-color: var(--cor-0);
  border-radius: 0 4px 4px 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form .email,
.form .mensagem {
  grid-column: 1/-1;
}

form div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  width: 100%;
}

form input,
form textarea {
  padding: 12px;
  border-radius: 4px;
  background-color: var(--cor-1);
  border: 1px solid var(--cor-2);
}

button {
  border: none;
}
