.contato-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0px -400px var(--cor-1);
  padding-bottom: 120px;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contato-dados {
  background-color: var(--cor-12);
  border-radius: 0 0 4px 4px;
  padding: 60px 60px 120px 60px;
}

.contato h2 {
  margin-bottom: 60px;
}

.contato-endereco,
.contato-email {
  margin-bottom: 32px;
}

.contato-telefone {
  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
}

.contato-form {
  background-color: var(--cor-0);
  border-radius: 0 4px 4px 0;
  width: 700px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  padding: 60px;
}

.form .email,
.form .mensagem {
  grid-column: 1/-1;
}

form div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

form input,
form textarea {
  padding: 12px;
  border-radius: 4px;
  background-color: var(--cor-1);
  border: 1px solid var(--cor-2);
}

button {
  border: none;
}
