.lojas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.lojas h2 {
  margin-bottom: 60px;
}

.loja-cidade img {
  border-radius: 4px 4px 0px 0px;
}

.loja-localizacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.loja-conteudo {
  background-color: var(--cor-0);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
}

.loja-cidade h3,
.horario {
  grid-column: 1/-1;
}

.loja-dados a {
  display: block;
}

.loja-dados a,
.loja-dados p {
  padding: 4px;
  padding-left: 12px;
  border-left: 2px solid var(--cor-2);
}

.horario {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 800px) {
  .lojas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lojas h2 {
    margin-bottom: 32px;
  }

  .loja-localizacao {
    gap: 20px;
  }

  .loja-conteudo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .loja-localizacao {
    grid-template-columns: 1fr;
  }
}
