.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0); /*uso do box shadow para dar a impressão de que a imagem está ultrapassando o container dela */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-informacoes {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao-foto {
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.introducao-foto-responsivo {
  display: none;
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 -60px var(--cor-0);
    padding-top: 40px;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-informacoes {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao p {
    margin-bottom: 20px;
  }

  .introducao-foto {
    display: none;
  }

  .introducao-foto-responsivo {
    display: block;
  }
}
